@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  // BASE COLORS
  --white: #fff;
  --gray-100: #e6e6e6;
  --gray-150: #d2d2d2;
  --gray-200: #c8c8c8;
  --gray-300: #a9a9a9;
  --gray-500: #808080;
  --gray-700: #575757;
  --gray-800: #383838;
  --gray-900: #1a1a1a;
  --black: #000;

  --red: #cb161e;
  --orange: #fd9438;
  --yellow: #ffe62d;
  --green: #20ac20;
  --blue: #2265f7;
  --brown: #7b5533;

  --danger: #dc2626;
  --warning: #ff9407;
  --success: #16a34a;

  // GENERAL COLORS
  --primary: var(--gray-100);
  --secondary: var(--gray-900);
  --accent: var(--red);
  --light: #e6e6e6;
  --dark: #1a1a1a;

  // OPACITY COLORS

  --primary-10: rgba(230, 230, 230, 0.1);
  --primary-20: rgba(230, 230, 230, 0.2);
  --primary-30: rgba(230, 230, 230, 0.3);
  --primary-40: rgba(230, 230, 230, 0.4);
  --primary-50: rgba(230, 230, 230, 0.5);
  --primary-60: rgba(230, 230, 230, 0.6);
  --primary-70: rgba(230, 230, 230, 0.7);
  --primary-80: rgba(230, 230, 230, 0.8);
  --primary-90: rgba(230, 230, 230, 0.9);

  --secondary-10: rgba(26, 26, 26, 0.1);
  --secondary-20: rgba(26, 26, 26, 0.2);
  --secondary-30: rgba(26, 26, 26, 0.3);
  --secondary-40: rgba(26, 26, 26, 0.4);
  --secondary-50: rgba(26, 26, 26, 0.5);
  --secondary-60: rgba(26, 26, 26, 0.6);
  --secondary-70: rgba(26, 26, 26, 0.7);
  --secondary-80: rgba(26, 26, 26, 0.8);
  --secondary-90: rgba(26, 26, 26, 0.9);

  --accent-10: rgba(203, 22, 30, 0.1);
  --accent-20: rgba(203, 22, 30, 0.2);
  --accent-30: rgba(203, 22, 30, 0.3);
  --accent-40: rgba(203, 22, 30, 0.4);
  --accent-50: rgba(203, 22, 30, 0.5);
  --accent-60: rgba(203, 22, 30, 0.6);
  --accent-70: rgba(203, 22, 30, 0.7);
  --accent-80: rgba(203, 22, 30, 0.8);
  --accent-90: rgba(203, 22, 30, 0.9);

  --red-50: rgb(203, 22, 30, 0.5);
  --orange-50: rgb(253, 148, 56, 0.5);
  --yellow-50: rgb(255, 230, 45, 0.5);
  --green-50: rgb(32, 172, 32, 0.5);
  --blue-50: rgb(34, 101, 247, 0.5);
  --brown-50: rgb(123, 85, 51, 0.5);

  --danger-30: rgb(220, 38, 38, 0.3);
  --danger-50: rgb(220, 38, 38, 0.5);
  --warning-10: rgb(255, 193, 7, 0.1);
  --warning-50: rgb(255, 193, 7, 0.5);
  --success-50: rgb(22, 163, 74, 0.5);

  // SPACERS
  --page-margin: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    // BASE COLORS
    --gray-100: #1a1a1a;
    --gray-150: #2e2e2e;
    --gray-200: #383838;
    --gray-300: #575757;
    --gray-500: #808080;
    --gray-700: #a9a9a9;
    --gray-800: #c8c8c8;
    --gray-900: #e6e6e6;

    // OPACITY COLORS
    --primary-10: rgba(26, 26, 26, 0.1);
    --primary-20: rgba(26, 26, 26, 0.2);
    --primary-30: rgba(26, 26, 26, 0.3);
    --primary-40: rgba(26, 26, 26, 0.4);
    --primary-50: rgba(26, 26, 26, 0.5);
    --primary-60: rgba(26, 26, 26, 0.6);
    --primary-70: rgba(26, 26, 26, 0.7);
    --primary-80: rgba(26, 26, 26, 0.8);
    --primary-90: rgba(26, 26, 26, 0.9);

    --secondary-10: rgba(230, 230, 230, 0.1);
    --secondary-20: rgba(230, 230, 230, 0.2);
    --secondary-30: rgba(230, 230, 230, 0.3);
    --secondary-40: rgba(230, 230, 230, 0.4);
    --secondary-50: rgba(230, 230, 230, 0.5);
    --secondary-60: rgba(230, 230, 230, 0.6);
    --secondary-70: rgba(230, 230, 230, 0.7);
    --secondary-80: rgba(230, 230, 230, 0.8);
    --secondary-90: rgba(230, 230, 230, 0.9);

    --danger: #dc2626;
    --warning: #ffc107;
    --success: #16a34a;
  }
}

::-moz-selection {
  color: var(--primary);
  background: var(--accent);
}

::selection {
  color: var(--primary);
  background: var(--accent);
}

img::selection,
svg::selection {
  background: transparent;
}

:focus-visible {
  transition: none;
  outline: var(--accent) solid 2px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1920px;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: var(--primary);
  background-image: url("/assets/svg/background-light.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: var(--secondary);
  font-family: "Rokkitt", Arial, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/assets/svg/background-dark.svg");
  }
}

header,
main,
footer {
  margin: 0 var(--page-margin);
}

main {
  margin-bottom: 6rem;

  a {
    position: relative;
    color: var(--secondary);
    text-decoration: none;

    &::after {
      position: absolute;
      content: "";
      bottom: 1px;
      left: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: var(--accent);
    }
  }
}

section {
  margin-bottom: 4rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

h4 {
  color: var(--accent);
  font-size: 1.8rem;
  font-weight: 400;
}

input,
select,
textarea {
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  border: 2px solid var(--secondary-50);
  background-color: var(--primary-60);
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Rokkitt", Arial, serif;
  accent-color: var(--accent);
  transition: none;

  &:focus {
    outline: none;
    border-color: var(--accent);
  }

  &[type="checkbox"] {
    cursor: pointer;
  }

  &[type="checkbox"]:focus {
    outline: var(--accent) solid 2px;
  }
}

label {
  font-size: 1.2rem;
}

option {
  font-size: 1rem;
}

input:required + label::after,
textarea:required + label::after,
select:required + label::after,
label:has(+ input:required)::after,
label:has(+ select:required)::after,
label:has(+ textarea:required)::after {
  content: " *";
  color: var(--accent);
}

//.form-group:has(input[type="file"]) {
//  input[type="file"] {
//    display: none;
//  }
//}

button,
.btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 5rem;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &.warning {
    background-color: var(--warning);
    color: var(--dark);
    border: 2px solid var(--warning);

    &:hover {
      background-color: var(--warning-50);
    }
  }

  &.danger {
    background-color: var(--danger);
    color: var(--dark);
    border: 2px solid var(--danger);

    &:hover {
      background-color: var(--danger-50);
    }
  }

  &.success {
    background-color: var(--success);
    color: var(--dark);
    border: 2px solid var(--success);

    &:hover {
      background-color: var(--success-50);
    }
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);

    &:hover {
      background-color: var(--secondary-50);
    }
  }

  &:disabled {
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
    cursor: not-allowed;

    &:hover {
      background-color: var(--gray-700);
    }
  }
}

// BREAKPOINTS
@media screen and (width >= 40rem) {
  :root {
    --page-margin: 1.5rem;
  }

  main {
    padding-top: 2rem;
    margin-bottom: 12rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 2.8rem;
    font-weight: 400;
  }

  h4 {
    color: var(--accent);
    font-size: 1.8rem;
    font-weight: 400;
  }
}

@media screen and (width >= 48rem) {
  :root {
    --page-margin: 2rem;
  }

  h1 {
    font-size: 8rem;
  }
}

@media screen and (width >= 64rem) {
  :root {
    --page-margin: 3rem;
  }

  h1 {
    margin: 6rem 0;
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 400;
  }

  h4 {
    color: var(--accent);
    font-size: 2.2rem;
    font-weight: 400;
  }
}

@media screen and (width >= 80rem) {
  :root {
    --page-margin: 4rem;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: 400;
  }

  h4 {
    color: var(--accent);
    font-size: 2.5rem;
    font-weight: 400;
  }
}

@media screen and (width >= 90rem) {
  :root {
    --page-margin: 4rem;
  }
}

// COPIED VERSIONS
@media screen and (width >= 40rem) {
}

@media screen and (width >= 48rem) {
}

@media screen and (width >= 64rem) {
}

@media screen and (width >= 80rem) {
}

// SPECIALS
@media screen and (width >= 32rem) {
}

@media screen and (width >= 90rem) {
}
