:root {
  // TYPOGRAPHY
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;
  --font-size-7xl: 7rem;
  --font-size-8xl: 10rem;
  --font-size-9xl: 14rem;
  --font-size-base: var(--font-size-xl);

  // HERO
  --hero-title-base: var(--font-size-9xl);
  --hero-title-accent: 10rem;

  // SPACING
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 4rem;
  --space-5xl: 5rem;
  --space-6xl: 7.5rem;
  --space-7xl: 10rem;
  --space-8xl: 15rem;
  --space-9xl: 20rem;

  // LAYOUT
  --hero-button-offset: var(--space-4xl);
  --hero-circle-offset-top: 10vh;
  --hero-circle-offset-right: -20rem;
  --intro-paragraph-offset: 25vw;
  --intro-section-height: var(--space-xl);
}

// RESPONSIVE BREAKPOINTS
@media screen and (width >= 640px) {

}

@media screen and (width >= 768px) {

}

@media screen and (width >= 1024px) {

}

@media screen and (width >= 1280px) {

}