// TYPOGRAPHY
@mixin rokkitt {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rokkitt-100 {
  @include rokkitt;
  font-weight: 100;
}

.rokkitt-300 {
  @include rokkitt;
  font-weight: 300;
}

.rokkitt-400 {
  @include rokkitt;
  font-weight: 400;
}

.rokkitt-500 {
  @include rokkitt;
  font-weight: 500;
}

.rokkitt-600 {
  @include rokkitt;
  font-weight: 600;
}

.rokkitt-700 {
  @include rokkitt;
  font-weight: 700;
}

.rokkitt-800 {
  @include rokkitt;
  font-weight: 800;
}

.rokkitt-900 {
  @include rokkitt;
  font-weight: 900;
}

@mixin outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
}

.outline-primary {
  @include outline;
  -webkit-text-stroke-color: var(--primary);
}

.outline-secondary {
  @include outline;
  -webkit-text-stroke-color: var(--secondary);
}

.outline-accent {
  @include outline;
  -webkit-text-stroke-color: var(--accent);
}

// SVG
.fill-primary {
  fill: var(--primary);
}

.fill-secondary {
  fill: var(--secondary);
}

.fill-secondary-10 {
  fill: var(--secondary-10);
}

.fill-accent {
  fill: var(--accent);
}

.fill-light {
  fill: var(--light);
}

.fill-dark {
  fill: var(--dark);
}

.fill-white {
  fill: var(--white);
}

.fill-yellow {
  fill: var(--yellow);
}

.fill-orange {
  fill: var(--orange);
}

.fill-green {
  fill: var(--green);
}

.fill-blue {
  fill: var(--blue);
}

.fill-brown {
  fill: var(--brown);
}

.fill-transparent {
  fill: transparent;
}

.stroke-primary {
  stroke-width: 1px;
  stroke: var(--primary);
}

.stroke-secondary {
  stroke-width: 1px;
  stroke: var(--secondary);
}

.stroke-secondary-10 {
  stroke-width: 1px;
  stroke: var(--secondary-10);
}

.stroke-secondary-70 {
  stroke-width: 1px;
  stroke: var(--secondary-70);
}

.stroke-accent {
  stroke-width: 1px;
  stroke: var(--accent);
}

.stroke-transparent {
  stroke-width: 1px;
  stroke: transparent;
}

// COLORS
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-accent {
  color: var(--accent);
}

.color-light {
  color: var(--light);
}

.color-dark {
  color: var(--dark);
}

//SCREEN READERS
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}