// TYPOGRAPHY
@mixin rokkitt {
  font-family: 'Rokkitt', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.rokkitt {
  @include rokkitt;
}

.rokkitt-100 {
  @include rokkitt;
  font-weight: 100;
}

.rokkitt-300 {
  @include rokkitt;
  font-weight: 300;
}

.rokkitt-400 {
  @include rokkitt;
  font-weight: 400;
}

.rokkitt-500 {
  @include rokkitt;
  font-weight: 500;
}

.rokkitt-600 {
  @include rokkitt;
  font-weight: 600;
}

.rokkitt-700 {
  @include rokkitt;
  font-weight: 700;
}

.rokkitt-800 {
  @include rokkitt;
  font-weight: 800;
}

.rokkitt-900 {
  @include rokkitt;
  font-weight: 900;
}

@mixin dmsans {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dmsans {
  @include dmsans;
}

.dmsans-100 {
  @include dmsans;
  font-weight: 100;
}

.dmsans-200 {
  @include dmsans;
  font-weight: 200;
}

.dmsans-300 {
  @include dmsans;
  font-weight: 300;
}

.dmsans-400 {
  @include dmsans;
  font-weight: 400;
}

.dmsans-500 {
  @include dmsans;
  font-weight: 500;
}

.dmsans-600 {
  @include dmsans;
  font-weight: 600;
}

.dmsans-700 {
  @include dmsans;
  font-weight: 700;
}

.dmsans-800 {
  @include dmsans;
  font-weight: 800;
}

.dmsans-900 {
  @include dmsans;
  font-weight: 900;
}

@mixin outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
}

.outline-primary {
  @include outline;
  -webkit-text-stroke-color: var(--primary);
}

.outline-secondary {
  @include outline;
  -webkit-text-stroke-color: var(--secondary);
}

.outline-accent {
  @include outline;
  -webkit-text-stroke-color: var(--accent);
}

// SVG
.fill-primary {
  fill: var(--primary);
}

.fill-secondary {
  fill: var(--secondary);
}

.fill-secondary-10 {
  fill: var(--secondary-10);
}

.fill-accent {
  fill: var(--accent);
}

.fill-light {
  fill: var(--light);
}

.fill-dark {
  fill: var(--dark);
}

.fill-white {
  fill: var(--white);
}

.fill-yellow {
  fill: var(--yellow);
}

.fill-orange {
  fill: var(--orange);
}

.fill-green {
  fill: var(--green);
}

.fill-blue {
  fill: var(--blue);
}

.fill-brown {
  fill: var(--brown);
}

.fill-transparent {
  fill: transparent;
}

.stroke-primary {
  stroke-width: 1px;
  stroke: var(--primary);
}

.stroke-secondary {
  stroke-width: 1px;
  stroke: var(--secondary);
}

.stroke-secondary-10 {
  stroke-width: 1px;
  stroke: var(--secondary-10);
}

.stroke-secondary-70 {
  stroke-width: 1px;
  stroke: var(--secondary-70);
}

.stroke-accent {
  stroke-width: 1px;
  stroke: var(--accent);
}

.stroke-transparent {
  stroke-width: 1px;
  stroke: transparent;
}

// COLORS
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-accent {
  color: var(--accent);
}

.color-light {
  color: var(--light);
}

.color-dark {
  color: var(--dark);
}

// SCREEN READERS
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// FORMS

.fake-input {
  display: flex;
  width: 100%;
  margin: 0 !important;
  padding: 0.15rem 0.3rem;
  border: 1px solid var(--secondary-10);
  border-radius: 0.4rem;
  font-size: 0.9rem;
  letter-spacing: 3%;
  background: var(--secondary-10);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  background-color: var(--secondary-10);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .error-text {
    color: var(--danger);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  input.error,
  select.error {
    border-color: var(--danger);
  }
}

.form-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.error-message {
  text-align: center;
  color: var(--secondary);
  font-weight: 500;
  margin: 0 auto 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--danger-50);
  border-radius: 0.5rem;
  border: 2px solid var(--danger);
  width: fit-content;
}

.success-message {
  text-align: center;
  color: var(--secondary);
  font-weight: 500;
  margin: 0 auto 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--success-50);
  border-radius: 0.5rem;
  border: 2px solid var(--success);
  width: fit-content;
}

// SPACING
.m-0 {
  margin: 0;
}

// WIDTH

.w-12 {
  width: 12rem;
}

.w-15 {
  width: 15rem;
}
